{% extends "base.html" %}

{% load wagtailcore_tags static wagtailimages_tags i18n %}

{% block content %}
    <h3>{{ self.name }}</h3>
    <div>{{ self.entry | richtext }}</div>

    <div class="row">
        {% for partner in self.season.related_partners.all %}
            <div class="span3" style="line-height: 120px">
                <a target="_blank" href="{{ partner.link }}">
                    {% image partner.image max-300x300 as banner_image %}
                    <img
                            src="{{ banner_image.url }}"
                            alt="{{ partner.name }}"
                            style="vertical-align: middle"
                    />
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
