{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="row">
    <h2>{{ self.caption }}</h2>

    <dl class="dl-horizontal">
    {% for event in self.related_events.all %}
        <dt>{{ event.starts_at|date:"j E, H:i" }}</dt>
        <dd>
            {% if event.program.live %}
              <a href="{% pageurl event.program %}">{{ event.program.name }}</a>
            {% else %}
              {{ event.program.name }}
            {% endif %}
            <br /><small>{{ event.venue.name }}, {{ event.venue.address }}</small>
        </dd>
    {% endfor %}
    </dl>
</div>
{% endblock %}
