{% extends "base.html" %}
{% load static %}


{% load wagtailcore_tags %}

{% block extra_css %}
    <link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}#}
    <div class="page-header">

        <div class="pull-right">
            {% for tag in self.tags.all %}
                <a href="{% pageurl self.blog_index %}?tag={{ tag }}"
                   class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-tag"></i> {{ tag }}
                </a>
            {% endfor %}
        </div>

        <h2>
            {{ self.title }}
            {% if self.date %}<small>{{ self.date }}</small>{% endif %}
        </h2>

    </div>
    {% if self.body %}
        <div class="body-content">
            {% include "news/includes/streamfield.html" with content=self.body %}
        </div>
    {% endif %}

{#    {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}#}
{% endblock %}
