{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

        <!-- favicon -->
        <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}"/>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/filmfest.css' %}">

        {# theme stylesheets #}
        <!-- Custom font loading from google -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>


        <link href="{% static 'frontrow/css/bootstrap.min.css?v=1' %}" rel="stylesheet">
        <link href="{% static 'frontrow/css/bootstrap-responsive.min.css?v=1' %}" rel="stylesheet">
        <link href="{% static 'frontrow/css/main.css?v=1' %}" rel="stylesheet">

        {# theme javascript #}
        <script src="{% static 'frontrow/js/jquery-1.7.2.min.js' %}"></script>
        <script src="{% static 'frontrow/js/jquery-ui-1.8.22.custom.min.js' %}"></script>
        <script src="{% static 'frontrow/js/jquery.imagesloaded.min.js' %}"></script>
        <script src="{% static 'frontrow/js/video.js' %}"></script>
        <script src="{% static 'frontrow/js/modernizr-2.5.3.min.js' %}"></script>

        <script src="{% static 'frontrow/js/bootstrap.min.js' %}"></script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand scroller cpm-brand" data-section="html" href="/">
                        <div class="logo-wrapper"><img class="cpm-logo" src="{% static 'logo.svg' %}" /></div>
                        <div class="fest-text">
                            <div class="fest-title"><h2>CPM</h2></div>
                            <div class="fest-type"><h3>filmfest</h3></div>
                        </div>

                    </a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right lang-list">
                                    <li><strong id="current-lang" class="lang-item lang-item__current navbar-text">[en]</strong></li>
                                    <li><a href="/" class="lang-item ">[by]</a></li>
                                    <li><a href="/" class="lang-item ">[ru]</a></li>

                        </ul>
                        <ul class="nav pull-right">
                            <li class="active">
                                <a
                                        href="/">
                                    Home
                                </a>
                            </li>
                            <li class="divider-vertical"></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /navbar-inner -->
        </div>

        <div class="container-fluid" id="about">
            <div class="container light" style="margin-top: 90px">
                {% block content %}{% endblock %}
                {# render_block "js" #}
            </div>
        </div>


        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/filmfest.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
