.container-fluid {
    margin: -8px;
    padding: 0px;
}

.b-newsblock {
    background: cornflowerblue;
    margin: 0px auto;
    padding: 0px;
    width: 800px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.b-newsblock_news {
    color: white;
    font-size: 22px;
    text-align: left;
    padding: 10px 10px;
    background-color: greenyellow;
}

.b-newsblock_ico {
    display: block;
    float: left;
    position: relative;
    zoom: 1;
}

.b-newsblock_ico:hover {
    zoom: 3 !important;
}

.b-newsblock_img {
    float: left;
    max-height: 135px;
    width: 150px;
    zoom: normal;
}

.b-newsblock_img:hover {
    zoom: 3 !important;
}

.b-newsblock_content {
    padding: 0px;
    margin-left: 161px;
    margin-right: 5px;
}

.b-newsblock_headerlink {
    font-size: 21px;
    font-family: "Arial Narrow", arial, sans-serif;
    font-stretch: condensed;
    font-weight: normal;
    line-height: 27px;
    margin: 6px 0px 9px;
    padding: 0;
}

.b-newsblock_link {
    color: #f9d088 !important;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

.b-newsblock_link:hover {
    color: orange !important;
}

.b-newsblock_text {
    font-size: 12px;
    margin: 0px 0px 10px;
    line-height: 1.4;
    color: gainsboro;
}

.b-newsblock_statistics {
    padding: 0px;
    margin-left: 161px;
    margin-right: 5px;

}

.b-newsblock_date {
    color: #606061;
    display: inline-block;
    margin: 0 12px 0 0;
    font-size: 12px;
}

.b-newsblock_category {
    color: #606061 !important;
    display: inline-block;
    margin: 0 12px 0 0;
    font-size: 12px;
}

.b-newsblock_category:hover {
    color: whitesmoke !important;
}

.b-newsblock_social {
    float: right;
    display: inline-block;
    width: 30px;
    height: auto;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -10px;
}

.b-newsblock_social-img {
    border-radius: 50%;
}

.b-newsblock_social-img:hover {
    background: lightcyan;
}

.b-hr {
    background: white;
    border: none;
    height: 2px;
    margin: 18px 0px;
    display: block;
    overflow: hidden;
}