<ul class="nav pull-right lang-list">
  {% for lang_code, lang, url, is_active in languages %}
  {% if is_active %}
  <li><strong id="current-lang" class="lang-item lang-item__current navbar-text">[{{ lang_code }}]</strong></li>
  {% else %}
  <li><a href="{{ url }}" class="lang-item ">[{{ lang_code }}]</a></li>
  {% endif %}
  {% endfor %}
</ul>
<ul class="nav pull-right">
  <!-- li class="active" -->
  <li>
    <a href="{{ rootpage.url }}">{{ rootpage.title }}</a>
  </li>
  {% for page in rootpage.get_children.live.in_menu.specific %}
  <li>
    {% if page.caption %}
      <a href="{{ page.url }}">{{ page.caption }}</a>
    {% else %}
      <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
  </li>
  {% endfor %}

  <li class="divider-vertical"></li>
</ul>
