{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans with id=submission.id %}Submission {{ id }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% trans "Submission" as submission_str %}
    {% include "wagtailadmin/shared/header.html" with title=submission_str subtitle=submission.title icon="doc-full-inverse" usage_object=submission %}

    <div class="row row-flush nice-padding">
        <div class="col10 divider-after">
	</div>
    </div>
{% endblock %}
